################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dictionary.API/Dictionary.API/bin/Debug/netcoreapp2.1
